@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-Thin.ttf') format('truetype');font-weight:100;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-ThinItalic.ttf') format('truetype');font-weight:100;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');font-weight:200;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');font-weight:200;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-Light.ttf') format('truetype');font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-LightItalic.ttf') format('truetype');font-weight:300;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-Regular.ttf') format('truetype');font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-Italic.ttf') format('truetype');font-weight:400;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-Medium.ttf') format('truetype');font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');font-weight:500;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-SemiBold.ttf') format('truetype');font-weight:600;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');font-weight:600;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-Bold.ttf') format('truetype');font-weight:700;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');font-weight:700;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');font-weight:800;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');font-weight:800;font-style:italic;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-Black.ttf') format('truetype');font-weight:900;font-style:normal;font-display:swap}
@font-face{font-family:'Montserrat';src:url('/Virtual-helper-TES/assets/fonts/Montserrat-BlackItalic.ttf') format('truetype');font-weight:900;font-style:italic;font-display:swap}

.nav-button-container::-webkit-scrollbar {
    width: 0;
    height: 10px;
}
.nav-button-container::-webkit-scrollbar-thumb {
    background: #7e7e7e;
}

html {
    scroll-behavior: smooth;
}

div{
    scroll-margin-top: 80px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: #FFF;

    opacity: 0;
    font-family: 'Montserrat';
}
body.loaded {
    opacity: 1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    
    background-color: #FFF;
}

.about-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;

    max-width: 1200px;
}
.text-container{
    display: flex;
    flex-direction: column;
    flex: 1 1 600px;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 105px;

    background-image: url(../assets/images/bg/bgLogo.png);
    background-size: cover;
    color: #FFF;
 }

.name-of-project{
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 300px;
    align-items: center;

    padding: 10px;
}

.nav-button-container{
    display: flex;
    overflow-x: auto;
    background-color: #FFF;

    height: 100%;
    width: 100%;

    border: #000 solid;
    border-width: 1px 0 1px 0;
}

a.nav-button{
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 125px;
    padding: 0 3px;

    text-decoration: none;
    color: #212529;

    border: none;
    
    border-radius: 10px;
}
a.nav-button.active{
    background-color: #1d869e;
    color: #000;
}

a.nav-button:hover{
    background-color: #cacaca;
}
a.nav-button.active:hover{
    background-color: #1d697c;
}

a.nav-button:active{
    background-color: #8c8c8c;
}
a.nav-button.active:active{
    background-color: #165160;
}

.lab-container{
    box-sizing: border-box;
    display: flex;
    margin: 10px 0;
    padding: 10px 10px;
    height: 150px;

    border: 1px solid #000;
    border-radius: 10px;
}

a.lab-container{
    text-decoration: none;
    color: #000;
}
a.lab-container:hover{
    color: #000;
}


.lab-preview{

    display: flex;

    background-color: #BBB;

    height: 100%;
    aspect-ratio: 1;

    text-align: center;
    align-items: center;
}

.lab-content{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.lab-title{
    padding: 2%;

    font-size: 24px;
}

.lab-description{
    text-align: justify;
    padding: 2%;

    font-size: 16px;
}

footer{
    box-sizing: border-box;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    min-height: 70px;
    max-height: 120px;
    margin: 0 auto;
    padding: 10px 10px;
    gap: 10px;

    align-items: center;

    background-image: url(../assets/images/bg/bgLogo.png);
    background-size: cover;
    color: #FFF;
}

.footer-item{
    flex: 1 1 200px;
}

.text-block{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 0 10px 0;
    padding: 10px;

    border: 1px solid #000;
    border-radius: 10px;

    background-color: #FFF;
}

h1{
    font-size: 30px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}

.nav-sidebar{
    position: sticky;
    top: 0;
    z-index: 1;

    display: flex;
    flex: 1 1 33%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    min-height: 150px;
    min-width: 360px;

    border-radius: 0 0 20px 20px;

    backdrop-filter: blur(6px)
}

.nav-sidebar-button{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 250px;
    border-radius: 12px;
}

a.nav-sidebar-button{
    text-decoration: none;
    color: #000;
    background-color: #999;
}

a.nav-sidebar-button:hover{
    background-color: #777;
}

a.nav-sidebar-button:active{
    background-color: #555;
}