<body>
    <footer>
        <div class="footer-item">
            <div class="bold font28px">Дипломный проект</div>
            <div class="footer-item-row">
                <div class="footer-item font18px" id="KalaytanovArtyom">
                    <div class="bold">Студент:</div>
                    <div class="bold">Группа:</div>
                </div>
                <div class="footer-item font18px">
                    <div>Калайтанов Артём</div>
                    <div>ЭиТ(Kz-Us)-22-п</div>
                </div>
            </div>
        </div>
        <div class="footer-item">
            <div class="font28px">Изменения в лабораторных или оборудовании?</div>
            <div class="footer-item-row">
                <div class="footer-item font18px">
                    <div class="bold">Контакт:</div>
                </div>
                <div class="footer-item font18px">
                    <div>kalaytartyom@gmail.com</div>
                </div>
            </div>
        </div>
    </footer>
</body>