<body>
    <nav class="nav-bar">
        <div class="name-of-project">Виртуальный помощник в лаборатории<br> "Теория электрической связи"</div>
        <div class="nav-button-container">
            <a href="/Virtual-helper-TES/pages/index.html" class="nav-button">Главная</a>
            <a href="/Virtual-helper-TES/pages/labs.html" class="nav-button">Лабораторные</a>
            <a href="/Virtual-helper-TES/pages/about.html" class="nav-button">О помощнике</a>
            <a href="/Virtual-helper-TES/pages/metod.html" class="nav-button">Методички</a>
            <a href="/Virtual-helper-TES/pages/progress.html" class="nav-button">Прогресс</a>
        </div>
    </nav>
</body>